/** NAVIGATION **/
.nav-inner .close {
    /** CLOSE BACKGROUND COLOUR */
    background-color: #9bd3c9;
}
/** NAVIGATION **/
nav ul li.full {
    /** Full Video **/
    background-color: #f3f2e6;
}

nav ul li.letter-A {
    background-color: #f29999;
}

nav ul li.letter-B {
    background-color: #e9e8d6;
}

nav ul li.letter-C {
    background-color: #8bcc8b;
}

nav ul li.letter-D {
    background-color: #bce1ef;
}

nav ul li.letter-E {
    background-color: #d3746c;
}

nav ul li.letter-F {
    background-color: #74b5a9;
}

nav ul li.letter-G {
    background-color: #f4b882;
}

nav ul li.letter-H {
    background-color: #e68a82;
}

nav ul li.letter-I {
    background-color: #4c778e;
}

nav ul li.letter-J {
    background-color: #e2deb5;
}

nav ul li.letter-K {
    background-color: #6ea0ba;
}

nav ul li.letter-L {
    background-color: #b5e5b5;
}

nav ul li.letter-M {
    background-color: #df8062;
}

nav ul li.letter-N {
    background-color: #f29999;
}

nav ul li.letter-O {
    background-color: #74b5a9;
}

nav ul li.letter-P {
    background-color: #f4b882;
}

nav ul li.letter-Q {
    background-color: #a2d9ea;
}

nav ul li.letter-R {
    background-color: #e9e8d6;
}

nav ul li.letter-S {
    background-color: #8bcc8b;
}

nav ul li.letter-T {
    background-color: #e9e8d6;
}

nav ul li.letter-U {
    background-color: #df8062;
}

nav ul li.letter-V {
    background-color: #4f8a89;
}

nav ul li.letter-W {
    background-color: #6ea0ba;
}

nav ul li.letter-X {
    background-color: #b5e5b5;
}

nav ul li.letter-Y {
    background-color: #f29999;
}

nav ul li.letter-Z {
    background-color: #34586b;
}

nav ul li.nav-about {
    background-color: #d3746c;
}

/** BEHIND VIDEOS */
#letter-A {
    background-color: #fed5c8;
}

#letter-B {
    background-color: #F1EBD9;
}

#letter-C {
    background-color: #d7f6de;
}

#letter-D {
    background-color: #daf2f4;
}

#letter-E {
    background-color: #fed5c8;
}

#letter-F {
    background-color: #b9e4d7;
}

#letter-G {
    background-color: #fed9bd;
}

#letter-H {
    background-color: #fed5c8;
}

#letter-I {
    background-color: #8fb4bf;
}

#letter-J {
    background-color: #F1EBD9;
}

#letter-K {
    background-color: #daf2f4;
}

#letter-L {
    background-color: #d7f6de;
}

#letter-M {
    background-color: #fed9bd;
}

#letter-N {
    background-color: #fed5c8;
}

#letter-O {
    background-color: #b9e4d7;
}

#letter-P {
    background-color: #fed9bd;
}

#letter-Q {
    background-color: #daf2f4;
}

#letter-R {
    background-color: #F1EBD8;
}

#letter-S {
    background-color: #d7f6de;
}

#letter-T {
    background-color: #F0EBD8;
}

#letter-U {
    background-color: #c7ebf8;
}

#letter-V {
    background-color: #b9e4d7;
}

#letter-W {
    background-color: #def3f8;
}

#letter-X {
    background-color: #d7f6de;
}

#letter-Y {
    background-color: #fed9bd;
}

#letter-Z {
    background-color: #96b5be;
}
