<footer class="container">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <a href="/">Home</a> |
            <a href="/">Tutorials</a> |
            <a href="https://thecodingbus.info/extension/">Extensions</a> |
           
         
            <br><br>
            <p class="footer">Site Content © 2016 - 2023 <a href="/">TCB Apps</a>
                <a class="ext" href="https://foundation.zurb.com/" target="_blank"></a>
                <!--<img src="/TheCodingBus/static/images/foundation.png" width="20" height="25" alt="Foundation" title="">Foundation Framework</a>.-->
            </p>
            <p class="footer">TheCodingBus, your one-stop destination for all things MIT App development! Whether you're a seasoned developer or just getting started, we've got you covered with an extensive collection of MIT Extensions, AIA Files, and APK Files, all designed to supercharge your app-building journey.</a>
               
            </p> 
        </div>
    </div>
</footer>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>